:root{
    --c_background: #B0305CFF;
    --c_ground: rgb(125, 34, 66);
    --c_two: #FFB6E4FF;
}
body{
    background-color:var(--c_background);
    color: white;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

/*#region Classe da esquerda*/
.ramo-1 {
    transform:scaleX(-1);
    height: auto;
    width: 0; /*18%*/
    float: left;
}
.ramo-1 > img{
    display: none;
    width: 260px;
    float: right;
}
/*endregion*/

/*#region Classe principal*/
.title{
    margin-top: 10%;
    font-size: large;
}
.main h3{
    margin-top: 20%;
}
p {
    font-size:large;
    text-align:left;
}
#imgFrases img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: auto;
    border: 10px;
}
#buttonMain input{
    margin-bottom: 20%;
    margin-top: 10%;
    vertical-align: auto;
    height: 100px;
    width: 100px;
    box-shadow: 6px 3px var(--c_ground);
    border-radius: 10px ;
    border-color: var(--c_ground);
    background-image: url(img/icons-click.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--c_background);
    color: white;  
}
.main {
    height: auto;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 20%;
}

h3{
    font-size:25px;
}
/*#endregion*/

/*#region Classe da direita*/
h4{
    font-size: 25px;
}
.ramo-2 {  
    height: auto;
    width: 0%; /*18*/
    float: right;
}
.ramo-2 >img{
    display: none;
    width: 260px;
    float: right;
}
.end{
    height: 100px; /*150px*/
    width: 100%;
    float: left;
}
.troll1{
    width: 4%;
    padding-bottom: 20px;
}
/*#endregion*/


/*tablet*/
@media (min-width: 768px){
    .title{
        margin-top: 10%;
        font-size: 32px;
    }
    p {
        font-size:25px;
        text-align:center;
    }
}

/*pc*/
@media (min-width: 1024px){
    .title{
        margin-top: 10%;
        font-size: 32px;
    }
    p {
        font-size:25px;
        text-align:center;
    }

    .ramo-1 {
        width: 18%;
        float: left;
    }
    .ramo-1 > img{
        display: block;
    }
    .main{
        height: auto;
        width: 44%;
        float: left;
        
    }
    #buttonMain input{
        margin-top: 0%;
        margin-bottom: 5%;
    }

    #imgFrases img{
        width: 50%;
    }
    .ramo-2 {  
        width: 18%;
        float: right; 
    }
    .ramo-2 >img{
        display: block;
        float: right;
    }
    .troll1{
        width: 10%;
        padding-bottom: 20px;
    }

}

